[Desktop Entry]
Version=1.1
Type=Application
Name=Eclipse
Icon=/opt/eclipse/icon.xpm
Exec=/opt/eclipse/eclipse
Comment=An IDE for C/C++ Developers
Categories=Development;IDE;
Terminal=false
Encoding=UTF-8
StartupNotify=false
